h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.Galeria{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 350px;
}

div.Galeria img{
    width: 100%;
    height: auto;
}

div.Galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

.seccion1 {
    text-align: center;
    padding: 15rem;
    background-color: rgb(51, 51, 51, 0.5);
    color: white;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/Bosque2.jpg);
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}


footer{
    text-align: center;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.none{
    color: #fff;
}