body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/Bosque2.jpg);
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

.seccion1 {
    text-align: center;
    padding: 15rem;
    background-color: rgb(51, 51, 51, 0.5);
    color: white;
    overflow: hidden;
}

.imagen {
    width: 100%;
    height: 900px;
}

.equipodedesarrollo{
    list-style: none;
    padding: 10px;
}

#lista{
    padding: 10px;
}

#img_ia{
    height: 250px;
}

footer{
    text-align: center;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#titulares{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
    padding: 40px;
    margin: 60px auto;
    max-width: 600px;
}

.carnet{
    font-weight: bold;
}

.box1 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
    padding: 40px;
    text-align: center;
    width: 300px; 
    margin: 60px 30px; 
    display: inline-block;
}

.box2 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    color: white;
    padding: 40px;
    text-align: center;
    width: 300px; 
    margin: 60px 20px; 
    display: inline-block; 
}

.seccion1 {
    text-align: center;
}

.equipodedesarrollo {
    list-style: none;
    padding: 0;
    text-align: center;
}

.equipodedesarrollo li {
    font-size: 18px;
    margin: 5px 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    max-width: 400px; 
    margin: 10px auto; 
}

.equipodedesarrollo p {
    font-weight: bold;
    font-size: 14px;
}